.messagesBox {
    width: 60%;
    height: 90%;
    max-height: 90%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

@media (max-width: 768px) {
    .messagesBox {
        width: 100%;
    }
    
}